# exclude everything except directory foo/bar
enformer_pipeline/*
impact_pipeline/*
explore_freedman/*
log/*
modeling_pipeline/*
plots/*
genotypes/*
temp/*
old_scripts/
*__*__/*
TFPred_pipeline/*
baca_cwas/*
enformer_test/*
geuvadis_individuals/*
**/predictions_folder/
**/cmd_parsl.*
prediXcan/*
experiments/AR_prostate/output/*

.*

# include
!scripts/
!metadata/
!enformer_pipeline/scripts/
!enformer_pipeline/metadata/
!enformer_pipeline/README.md
!impact_pipeline/motif_intervals/
!impact_pipeline/scripts/
!impact_pipeline/README.md
!README.md
!modeling_pipeline/
!.gitignore
!TFPred_pipeline/scripts/
!TFPred_pipeline/pipelines/
!baca_cwas/predictors
!baca_cwas/scripts
!TFPred_pipeline/parallel_enformer
!TFPred_pipeline/config_files
!TFPred_pipeline/helpers
!experiments/
!prediXcan/config
!prediXcan/scripts
!prediXcan/metadata




# temp/*
# defined_regions/*
# old-scripts/*
# test_enformer/*
# parsl-runinfo/*
# enformer-minimal/runinfo/*
# enformer-minimal/outputs/*
# enformer-minimal/log/*
# enformer-minimal/runlog/*
# enformer-minimal/sequence_folder/*
# enformer_logs/*
# motif-intervals/*
# enformer-minimal-2/runinfo/*
# enformer-minimal-2/outputs/*
# enformer-minimal-2/log/*
# enformer-minimal-2/runlog/*
# enformer-minimal-2/sequence_folder/*
# enformer-predict/cobalt-log
# enformer-predict/debug-parsl
# enformer-predict/runinfo
# enformer-predict/predictions-log
# enformer-predict/temp-vcfs
# !enformer-minimal/scripts/
# !enformer-minimal/metadata/
# !enformer-minimal/intervals/
# !enformer-minimal-2/scripts/
# !enformer-minimal-2/metadata/
# !enformer-minimal-2/intervals/