# exclude everything except directory foo/bar
code_arguments/*
enformer_predictions/*
info-files/*
models/*
plots/
data/*
explore-freedman/*
log/*
output/*
processed-data/*
defined_regions/*
train-test-val/*
bcftools_region/**
prj6_genotypes/*
temp/*
defined_regions/*
old-scripts/*
test_enformer/*
parsl-runinfo/*
enformer-minimal/runinfo/*
enformer-minimal/log/*
motif-intervals/*

# include
!scripts/
!enformer-minimal/scripts/
!enformer-minimal/metadata/
!enformer-minimal/intervals/
!README
!.gitignore